{% extends "layout.html" %}
{% block title %}Flash Cards : Create Card{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block deckmanagement %}active{%endblock%}
{% block page %}


<div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/deck_management">View My Decks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deck_management/view_cards">View My Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Create Card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deck_management/create_deck">Create Deck</a>
      </li>
    </ul>
</div>

<h3 style="padding:10px">Create Card</h3>
<hr>

<div class="container" style="width:300px">
  <form method="POST" action="/deck_management/create_card">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Card Name</span>
    <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" name="cname" maxlength="30" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Front Content</span>
    <input type="text" class="form-control" placeholder="Front Content" aria-label="Front Content" aria-describedby="basic-addon2" name="fcontent" maxlength="30" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Back Content</span>
    <input type="text" class="form-control" placeholder="Back Content" aria-label="Back Content" aria-describedby="basic-addon3" name="bcontent" maxlength="30" required>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon4">Category</span>
    <input type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="basic-addon4" name="category" maxlength="30" required>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  </form>
  
</div>
<div class="container" style="width:300px">
  {% if message|length>0 %}
  <p>
    {{message}}
  </p>
  {% endif %}
</div>
{% endblock %}